@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: "Poppins", "sans-serif";
}
.h-97 {
    height: 25rem;
}
.h-105 {
    height: 30rem;
}
.h-24-with-transition {
    transition: height 0.2s;
    height: 4rem;
    overflow: hidden;
}
.h-36-with-transition {
    transition: height 0.2s;
    height: 10rem;
}
.h-80-with-transition {
    transition: height 0.2s;
    height: 22.5rem;
}
.h-120-with-transition {
    transition: height 0.2s;
    height: 35rem;
}
.hide {
    display: none;
    transition: 0.7s;
}
.list-fasilitas {
    display: grid;
    grid-template-areas:
        "child1 child2 child2 child2 child5"
        "child3 child4 child4 child4 child5"
        "child6 child6 child7 child8 child8";
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;
}
.list-fasilitas img:nth-child(1) {
    grid-area: child1;
}
.list-fasilitas img:nth-child(2) {
    grid-area: child2;
}
.list-fasilitas img:nth-child(3) {
    grid-area: child3;
}
.list-fasilitas img:nth-child(4) {
    grid-area: child4;
}
.list-fasilitas img:nth-child(5) {
    grid-area: child5;
}
.list-fasilitas img:nth-child(6) {
    grid-area: child6;
}
.list-fasilitas img:nth-child(7) {
    grid-area: child7;
}
.list-fasilitas img:nth-child(8) {
    grid-area: child8;
}
.list-peminatan div:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
    align-self: start;
}
.list-peminatan div:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
    align-self: start;
}
.list-peminatan div:nth-child(3) {
    grid-row: 2;
    grid-column: 1;
    align-self: end;
}
.list-peminatan div:nth-child(4) {
    grid-row: 2;
    grid-column: 2;
    align-self: end;
}
